.conteudo {
	-fx-background-color: black;
	-fx-font-family: "Oswald";
}

.titulo {
	-fx-text-fill: #0000ff;
	-fx-font-size: 40px;
}


.numero {
	-fx-text-fill: #fff;
	-fx-font-size: 30px;
}

.botoes {
	-fx-background-color: #fff;
	-fx-background-color: #48b2ee;
	-fx-font-size: 24px;
	-fx-min-width: 60px;
	-fx-min-height: 60px;
	-fx-background-radius: 30px;
}

.verde {
	-fx-text-fill: #4bdb82;

}

.vermelha {
	-fx-text-fill: rgb(255, 0, 0);
	-fx-font-size: 30px;
}
