.login {
	-fx-background-color: linear-gradient(to right, rgb(58, 97, 134), rgb(137, 37, 62));
}

.login-titulo {
	-fx-font-size: 24px;
	-fx-text-fill: #FFF;
}

.login-form-label {
	-fx-font-size: 16px;
	-fx-text-fill: #FFF;
}

.login-form-botao {
	-fx-font-size: 16px;
}